<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h2>Event Creation</h2>
        <div class="buttons">
            <a href="/create_event_page" class="btn-create-event">Create Event</a> <!-- Redirects to the create event page -->
        </div>
    </div>
</body>
</html>


<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h2>Existing Events</h2>
        <div class="buttons">
            <a href="/event_list" class="btn-create-event">Event list</a> <!-- Redirects to the create event page -->
        </div>
    </div>
</body>
</html>



<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h1>Budget Dashboard</h1>
        <div class="buttons">
            <a href="/budget_management" class="btn-budget">Manage Budget</a>
        </div>
    </div>
</body>
</html>



<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h1>Sponsor Dashboard</h1>
        <div class="buttons">
            <a href="/sponsor_dashboard" class="btn-sponsor">Sponsor Management</a>
        </div>
    </div>
</body>
</html>



<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h1>Venue Selection</h1>
        <div class="buttons">
            <!-- <a href="/budget-management" class="btn-budget">Manage Budget</a>
            <a href="/sponsor-management" class="btn-sponsor">Sponsor Management</a> -->
            <a href="/venue_selection" class="btn-venue">Venue Selection</a>
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <h2>Event Deletion</h2>
        <div class="buttons">
            <a href="/delete_event" class="btn-create-event">Delete Event</a> 
        </div>
    </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>Admin Dashboard</title> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- <h1>Admin Dashboard</h1> -->
        <div class="buttons">
        <a href="/logout" class="btn-logout">Logout</a> <!-- Move the logout button here -->
        <div>
   
    </div>
</body>
</html>


